.containerCarousel {
  display: flex;
  justify-content: center;


  .carousels {
    display: flex;
    justify-content: center;
    width: 1030px;
    height: 473px;
    background-color: white;

    .carousel {
      width: 1000px;
      margin-top: 15px;

      .image {
        object-fit: fill;
        height: 445px;
      }

    }
  }
}