.containerCarousel {
  display: flex;
  justify-content: center;

  .carousels {
    display: flex;
    justify-content: center;
    width: 52.2em;
    height: 25em;
    background-color: white;

    .carousel {
      width: 48em;
      margin-top: 10px;
    }

    .d-block {
      background-repeat: no-repeat;
      background-size: cover;
      height: 20em;
    }
  }
}