.containerLayout {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-image: url("https://img.freepik.com/free-vector/shiny-white-gray-background-with-wavy-lines_1017-25101.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}