.containerLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background: #fff;
  color: #222;
  font-family: Arial, Tahoma, Verdana, sans-serif;
  font-size: 12px;
  height: auto;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
}