.container-product-cart {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
  height: 100vh;

  .container-product {
    .product-cart {
      margin-bottom: 30px;

      .title {
        color: #ffba00;
        font-weight: bold;
        margin: 10px 0 0;
        background-color: #f5f5f5;
        height: 50px;
        padding: 10px;
      }

      .container-cart {
        width: 1030px;

        .cart {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-radius: 5px;
          height: 120px;
          border: 1px solid #ffba00;
          margin-top: 2px;
          padding: 10px;
          background-color: #fff;

          .cart-image {
            img {
              width: 170px;
              height: 100px;
              object-fit: contain;
            }
          }

          .cart-title {
            width: 150px;
            flex-wrap: wrap;

            p {
              margin: 0;
            }
          }

          .cart-counter {
            display: flex;
            justify-content: center;
            align-items: center;

            .counter {
              display: flex;

              button {
                background-color: #fff;
              }

              .counter-number {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 20px;
                font-size: 14px;
                font-weight: bold;
                border: 1px solid gray;
                border-left: none;
                border-right: none;
              }

              .btn-plus {}


              .action-btn {
                display: flex;
                align-items: center;
                width: 20px;
                height: 20px;
                border: none;
                border: 1px solid gray;
              }
            }
          }

          .cart-price {
            width: 120px;

            p {
              margin: 0;
              color: red;
              font-size: 14px;
            }
          }

          .delete-cart {
            button {
              border: none;
              color: red;
              background-color: #fff;
            }

            button:hover {
              color: #ffba00;
            }
          }


        }

        .card {
          background-color: #fff;
        }
      }
    }

    .buy {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
      width: 100%;
      padding: 10px;

      .total {
        font-weight: bold;
        color: red;
        display: flex;
        align-items: center;

        p {
          margin: 0;
          font-weight: 300;
          padding: 10px;
          font-size: 20px;
        }
      }

      .buy-now {
        border: none;
        background-color: #ff8800;
        color: #fff;
        padding: 5px 10px;
        border-radius: 10px;
      }

      .buy-now:hover {
        background-color: red;
      }
    }
  }

}