.header-container {
  background-color: #ffba00;
  width: 100vw;
  height: 200px;


  .header-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;

    .container-logo {
      width: 70px;
      height: 30px;
      background-color: red;
      margin-top: 15px;

      .logo {}
    }

    .container-nav {
      display: flex;
      padding-left: 30px;

      .nav-group {
        margin-top: 10px;
        padding: 5px 25px 0 5px;
        font-size: 13px;
        border: none;
        background-color: #ffba00;
      }

      .home {}

      .management {}

      .order {}

      .chat {}

      .notification {}

      .see-more {}
    }
  }

  .header-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 185px 0 0;

    .button-group {
      padding: 5px 15px;
      font-size: 13px;
      border: none;
      background-color: #ffba00;
    }

    .search {
      position: relative;
      margin-right: 3px;

      .search-button {
        background-color: #ff8800;
        border-radius: 5px;
        height: 25px;
        position: absolute;
        right: 2px;
        bottom: 2px;
      }

      input {
        width: 500px;
        padding: 7px;
        border: none;
        border-radius: 5px;
        left: 30px;
      }
    }

    .posts {
      position: absolute;
      right: 276px;

      .post {
        width: 110px;
        height: 30px;
        background-color: #ff8800;
        border-radius: 5px;
        margin-left: 20px;
      }
    }
  }
}