.container-product-detail {
  display: flex;
  justify-content: center;
  font-family: 'open sans';
  background-color: #f5f5f5;
  height: 100%;

  .product-detail {
    display: flex;
    justify-content: center;
    flex-direction: column;


    .cards {
      margin-top: 20px;
      padding: 0;
      border: none;
      width: 950px;

      .title {
        width: 100%;
        border-radius: none;
        color: #ff9f1a;
      }

      .card-product-detail {

        @media screen and (min-width: 997px) {
          .wrapper {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
          }
        }

        .wrapper {
          background-color: #fff;
          flex: 1;
          width: 960px;
          position: relative;
          left: 12px;

          .preview {
            display: flex;
            flex-direction: column;

            .preview-pic {
              .active {

                img {
                  width: 100%;
                  height: 380px;
                  object-fit: contain;
                }
              }
            }



            .tab-content img {
              width: 100%;
              -webkit-animation-name: opacity;
              animation-name: opacity;
              -webkit-animation-duration: .3s;
              animation-duration: .3s;
            }
          }

          @media screen and (max-width: 996px) {
            .preview {
              margin-bottom: 20px;
            }
          }
        }

        .details {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          padding: 10px;
          flex: 1;

          .checked,
          .price span {
            color: red;
          }

          .price {
            margin: 0;
            padding: 5px;
            font-size: 16px;
            color: rgba(154, 145, 133, 0.66);
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

            span {
              margin-left: 10px;
            }
          }

          .product-title {
            font-weight: bold;
            font-size: 16px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
          }


          .product-description {
            border: 1px solid rgba(154, 145, 133, 0.66);
            padding: 5px;
            margin: 0;
            width: 100%;
            flex-wrap: wrap;
            font-size: 14px;
            color: rgba(154, 145, 133, 0.66);
            height: 170px;
            border-radius: 5px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
          }

          .card-detail {
            margin-top: 10px;

            .all-detail {
              display: flex;

              .detail {
                margin: 0;
                padding: 5px;
                min-height: 30px;
                flex: 1;
                font-size: 16px;
                font-weight: 400;
                color: rgba(154, 145, 133, 0.66);
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
              }

              .information {
                font-size: 16px;
                padding: 5px;
                flex: 3;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
              }

              .category {
                color: red;
              }

              .status {
                color: green;
              }
            }
          }



          .action {

            .add-to-cart,
            .like {
              background: #ff9f1a;
              padding: 1.2em 1.5em;
              border: none;
              text-transform: UPPERCASE;
              font-weight: bold;
              color: #fff;
              padding: 10px 20px;
            }

            .like {
              margin-left: 10px;
            }

            .add-to-cart:hover,
            .like:hover {
              background: #b36800;
              color: #fff;
            }
          }
        }
      }
    }

    .descriptions {
      width: 960px;
      height: 100%;
      background-color: #fff;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-top: 10px;

      .title-description {
        padding: 15px 10px;
        font-weight: 600;
      }

      .short-description {
        padding: 0 20px;
      }
    }
  }


}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}