.containerRegister {
    width: 350px;
    height: 430px;
    box-shadow: 1px 1px 5px 2px gray;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10px 0;

    .register {
        margin: 20px 10px 10px 10px;


        .titleRegister {

            color: #ffba10;
        }

        .form-submit-register {
            background-color: #fe9900;
            color: white;
            width: 100px;
            position: relative;
        }
    }

    a {
        text-decoration: none;
    }
}