.container-vehicle {
  display: flex;
  justify-content: center;
  height: auto;

  .vehicle {
    width: 1030px;

    .navbar {
      display: block;
      background-color: white;
      height: 100px;


      .title {}

      .nav-icon {
        display: flex;
        justify-content: space-around;

        img {
          background-color: #f4f4f4;
          border-radius: 50%;

        }

        img:hover {
          background-color: #ffba00;
        }

        p {
          text-align: center;
        }
      }
    }
  }
}